<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE"></title>
    <link th:href="@{{cdnUrl}/stylesheets/chs-styles.css(cdnUrl=${@environment.getProperty('cdn.url')})}"
          media="all" rel="stylesheet" type="text/css" />
    <link
            th:href="@{{cdnUrl}/stylesheets/govuk-link_override.css(cdnUrl=${@environment.getProperty('cdn.url')})}"
            media="all" rel="stylesheet" type="text/css" />
    <link
            th:href="@{{cdnUrl}/stylesheets/services/late-filing-penalties/application.css(cdnUrl=${@environment.getProperty('cdn.url')})}"
            media="all" rel="stylesheet" type="text/css" />
    <link
            th:href="@{{cdnUrl}/stylesheets/govuk-frontend/v3.11.0/govuk-frontend-3.11.0.min.css(cdnUrl=${@environment.getProperty('cdn.url')})}"
            media="all" rel="stylesheet" type="text/css" />
    <link 
            th:href="@{{cdnUrl}/stylesheets/session-timeout.css(cdnUrl=${@environment.getProperty('cdn.url')})}" 
            media="all" rel="stylesheet" type="text/css" />
    <link
            rel="icon"
            th:href="@{{cdnUrl}/images/favicon.ico?0.17.3(cdnUrl=${@environment.getProperty('cdn.url')})}"
            type="image/x-icon" />
    <div id="templateName" th:attr="data-id=${templateName}" hidden></div>
    <script th:inline="javascript">
        window.SERVICE_NAME = 'lfp'
        window.PIWIK_URL = [[${@environment.getProperty('piwik.url')}]];
        window.PIWIK_SITE_ID = [[${@environment.getProperty('piwik.siteId')}]];
    </script>
</head>
<body>
<script th:src="@{{cdnUrl}/javascripts/lib/company-accounts-web/details-polyfill.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
<script th:src="@{{cdnUrl}/javascripts/app/body-js-enable.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
<script th:src="@{{cdnUrl}/javascripts/vendor/require.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
<script th:src="@{{cdnUrl}/javascripts/vendor/jquery-3.3.1.min.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
<script th:src="@{{cdnUrl}/javascripts/app/session-timeout.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>

<div th:replace="fragments/piwikWithCookieCheck :: cookieBanner"></div>

<div class="entire-wrapper">
    <div th:replace="fragments/header :: header (headerText = 'Pay a penalty for filing your company accounts late')"></div>
    <div class="govuk-width-container">
        <div th:replace="fragments/betaBanner :: betaBanner (surveyLink = 'https://www.smartsurvey.co.uk/s/pay-lfp-feedback/')"></div>
        <div th:if="${#httpServletRequest.requestURI != '/late-filing-penalty/sign-out'}">
            <div th:if="${!#httpServletRequest.requestURI.contains('/confirmation')}">
            <div th:if="${userEmail != null}" layout:fragment="signOut">
                <ul class="js-signout" id="signout-navigation">
                    <li class="content-email" id="signed-in-user" th:text="${userEmail}"></li>
                    <li class="content">
                        <a href="/late-filing-penalty/sign-out" id="user-signout" data-event-id="sign-out-button-selected">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
            <div th:replace="fragments/backButtonLink :: backButtonLink"></div>
            <main id="content" role="main" class="govuk-main-wrapper">
                <div layout:fragment="content"></div>
            </main>
        </div>
        <div class="push"></div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>

    <script th:src="@{{cdnUrl}/javascripts/app/js-enable.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
    <script th:src="@{{cdnUrl}/javascripts/vendor/selection-buttons.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
    <script th:src="@{{cdnUrl}/javascripts/app/piwik-enable.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
    <script th:src="@{{cdnUrl}/javascripts/app/cookie-consent/cookie-consent-1.0.0.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
    <script th:src="@{{cdnUrl}/javascripts/app/cookie-consent/piwik-only-cookie-consent.js(cdnUrl=${@environment.getProperty('cdn.url')})}" type="text/javascript"></script>
</body>
</html>