<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
    <title>Home</title>
</head>
<div layout:fragment="content">

    <form th:action="@{''}" method="post" class="form" id="home">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl" id="main-heading">
                    Pay a late filing penalty
                </h1>
                <p class="govuk-body-l">Use this service to pay
                    a company's late filing penalty.</p>

                <p class="govuk-body">You'll need:</p>
                <ul class="govuk-list govuk-list--bullet" id="list-requirements">
                    <li>the company number</li>
                    <li>the reference number on the penalty notice</li>
                    <li>to sign in to or create a Companies House account, which is different from a WebFiling account</li>
                    <li>a credit or debit card</li>
                </ul>

                <p class="govuk-body">
                    You can
                    <a class="govuk-link govuk-link--no-visited-state" id="appeals-link"
                       data-event-id="lfp - appeal a penalty link" href="/appeal-a-penalty/">
                        appeal a late filing penalty</a>
                    , but you'll need to show that the reasons for filing late were exceptional.
                </p>

                <p class="govuk-body">It takes around 5 minutes to pay.</p>
                <div class="form-group">
                    <input id="next-button" class="govuk-button" data-event-id="lfp - Start now"
                           onclick="_paq.push(['trackGoal', 3]);" type="submit" role="button" value="Start now"/>
                </div>

                <p class="govuk-body"></p>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                     <span class="govuk-details__summary-text">
                         Other ways to pay a penalty
                     </span>
                    </summary>
                    <div class="govuk-details__text">
                        <h2 class="govuk-heading-m">Pay by phone</h2>
                        <p class="govuk-body">You can pay by phone using your credit or debit card.</p>
                        <p class="govuk-body">Telephone: 0303 1234 500</p>
                        <p class="govuk-body">Contact Centre lines are open between 8.30am to 5pm (Monday to Friday).</p>
                        <h2 class="govuk-heading-m">Pay by Bacs</h2>
                        <p class="govuk-body">
                            You can pay using Bacs payment.
                        </p>
                        <p class="govuk-body">
                            It usually takes up to 3 working days for your payment to reach Companies House. Check your
                            bank's transaction limits and processing times before making a payment.
                        </p>
                        <p class="govuk-body">
                            You'll need to use the Companies House sort code, account number and account name.
                        </p>
                        <div class="govuk-details__text" aria-hidden="true" id="banking-details">
                            <p th:text="'Sort code: ' + ${@environment.getProperty('chBankSortCode')}"></p>
                            <p th:text="'Account number: ' + ${@environment.getProperty('chBankAccNumber')}"></p>
                            <p th:text="'Account name: ' + ${@environment.getProperty('chBankAccName')}"></p>
                        </div>
                        <p class="govuk-body"></p>
                        <h2 class="govuk-heading-m">Paying from an overseas account</h2>
                        <p class="govuk-body">
                            You can pay through a bank transfer from an overseas account.
                        </p>
                        <p class="govuk-body">
                            You'll need to use Companies House swift code, account number and account name.
                        </p>
                        <div class="govuk-details__text" aria-hidden="true" id="overseas-banking-details">
                            <p class="govuk-body">Swift Code: NW BK GB 2L</p>
                            <p class="govuk-body">Account Number (IBAN): GB 34 NWBK 522107 41005309</p>
                            <p class="govuk-body">Account name: Late Filing Penalties Receipts</p>
                        </div>
                        <p class="govuk-body"></p>
                        <p class="govuk-body">Email the LFP finance team at Companies House to tell them you've paid.
                            Include in your email the:</p>
                        <ul class="govuk-list govuk-list--bullet" id="list-requirements-overseas-payments">
                            <li>company number</li>
                            <li>company name</li>
                            <li>reference number on the penalty notice</li>
                            <li>amount paid</li>
                            <li>date paid</li>
                        </ul>
                        <div class="govuk-details__text" aria-hidden="true" id="companies-house-finance-team-email">
                            <p class="govuk-body">LFP finance team, Companies House <a
                                    href="mailto:lfpfinance@companieshouse.gov.uk">lfpfinance@companieshouse.gov.uk</a>
                            </p>
                        </div>
                        <p class="govuk-body"></p>
                        <h2 class="govuk-heading-m">Pay by cheque</h2>
                        <p class="govuk-body">You can pay by cheque through the post. Make the cheque payable to
                            'Companies House only' and send it along with the slip on the penalty notice ('remittance
                            advice') to Companies House.</p>
                        <div class="govuk-details__text" aria-hidden="true" id="companies-house-address-cheque">
                            <p>Companies House
                                <br>
                                PO Box 710
                                <br>
                                Crown Way
                                <br>
                                CF14 3UZ
                            </p>
                        </div>
                        <p class="govuk-body"></p>
                        <p class="govuk-body">Write the company name and number on the back of the cheque. You'll find
                            the company number on your penalty notice.</p>
                    </div>
                </details>
            </div>
        </div>
    </form>
</div>
</html>
