<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
    <title>
        Confirmation
    </title>
</head>

<div id="confirmation-main-content" layout:fragment="content">
    <form th:action="@{''}" method="post" class="form" id="confirmation">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation" id="confirmation-details">

                    <div class="govuk-panel__body govuk-!-margin-bottom-6" id="confirmation-company-name-number">
                        <h1 class="govuk-panel__title">
                            Payment received by Companies House
                        </h1>
                        <div class="govuk-panel__body">
                            Your reference number is your company number
                            <br>
                            <span class="govuk-!-font-weight-bold" th:text="*{companyNumber}"/>

                        </div>
                    </div>
                </div>

                <p class="govuk-body-l">
                    We've sent a confirmation email containing this reference number to
                    <span class="govuk-!-font-weight-bold" th:text="${userEmail}">keyvalue</span>.
                </p>
                <p class="govuk-body">
                    <a href="javascript:window.print()" class="govuk-link">Print this page</a>
                </p>
                <h2 class="govuk-heading-m">
                    What happens next
                </h2>
                <p class="govuk-body">
                    Your penalty has been paid and you don't need to do anything else.

                    It may take up to 24 hours for your payment to be allocated to your account.
                </p>
                <h2 class="govuk-heading-m">
                    Questions about this payment
                </h2>
                <p class="govuk-body">
                    You can contact Companies House if you have questions about this payment.
                </p>
                <p class="govuk-body">
                    <a href="mailto:enquiries@companieshouse.gov.uk" class="govuk-link">enquiries@companieshouse.gov.uk</a><br>
                    Telephone: 0303 1234 500<br>
                    Minicom/Textphone: 02920 381 245<br>
                    Welsh language: 02920 380 065<br>
                    Monday to Friday, 8:30am to 5pm<br>
                </p>
                <p class="govuk-body">
                    If you need to contact us about your payment, use the payment reference number <span class="govuk-!-font-weight-bold" th:text="${penaltyNumber}"></span>
                </p>
                <h2 class="govuk-heading-m">Sign up for an Email reminder</h2>
                <p class="govuk-body">
                    You can sign up to receive an
                    <a href="https://www.gov.uk/guidance/online-filing-and-email-reminders-for-companies#reminders" class="govuk-link">email reminder</a> to file your company accounts. This will help you file on time in future and avoid penalties.
                </p>
                <p class="govuk-body">
                    <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/pay-lfp-confirmation/" th:target="_blank">What did you think of this service?</a>
                    (takes 2 minutes)
                </p>
            </div>
        </div>
    </form>
</div>
</html>