<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
    <title>
        Tell us your penalty details
    </title>
</head>

    <div id="lfp-enter-details"  layout:fragment="content">
        <form id="lfpenterdetails" th:action="@{''}" th:object="${enterLFPDetails}" method="post" class="form">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <div th:replace="fragments/lfpGlobalErrors :: globalErrors"></div>

                    <h1 id="page-title " class="govuk-heading-xl">
                        <span id="page-title-heading">Tell us your penalty details</span>
                    </h1>
                    <div class="govuk-grid-column-two-thirds">
                        <div class="govuk-form-group" th:classappend="${#fields.hasErrors('companyNumber')} ? 'govuk-form-group--error' : ''">
                            <label class="govuk-label" for="company-ref">
                                Company number
                            </label>

                            <span class="govuk-error-message"
                                  id="companyNumber-errorId"
                                  th:if="${#fields.hasErrors('companyNumber')}"
                                  th:each="e : ${#fields.errors('companyNumber')}" th:text="${e}">
                            </span>

                            <input class="govuk-input govuk-input--width-10"
                                   id="company-ref"
                                   th:field="*{companyNumber}"
                                   th:errorclass="govuk-input--error"
                                   name="company-ref"
                                   type="text"
                                   maxlength="8">
                        </div>
                        <div class="govuk-form-group" th:classappend="${#fields.hasErrors('penaltyNumber')} ? 'govuk-form-group--error' : ''">
                            <label class="govuk-label" for="penalty-ref">
                                Reference number
                            </label>

                            <span class="govuk-error-message"
                                  id="penaltyNumber-errorId"
                                  th:if="${#fields.hasErrors('penaltyNumber')}"
                                  th:each="e : ${#fields.errors('penaltyNumber')}" th:text="${e}">
                            </span>

                            <input class="govuk-input govuk-input--width-10"
                                   id="penalty-ref"
                                   th:field="*{penaltyNumber}"
                                   th:errorclass="govuk-input--error"
                                   name="penalty-ref"
                                   type="text"
                                   maxlength="16">
                        </div>
                        <div class="govuk-form-group">
                            <details class="govuk-details piwik-event" data-event-id="Details - Where can I find these details" data-module="govuk-details" aria-labelledby="details-summary">
                                <summary class="govuk-details__summary" id="details-summary">
                                    <span class="govuk-details__summary-text">
                                        Where can I find these details?
                                    </span>
                                </summary>
                                <div class="govuk-details__text">
                                    <p>
                                        Your company number and reference number are shown at the bottom of your penalty notice.
                                    </p>
                                    <div id="penalty-notice-image"></div>
                                </div>
                            </details>
                        </div>
                        <div class="form-group">
                            <input id="next-button" class="govuk-button piwik-event" data-event-id="Details - Continue" type="submit" role="button" value="Continue"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</html>