<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
    <title th:text="'Penalties for ' + ${companyName}"></title>
</head>

<div id="no-payment-found-main-content" layout:fragment="content">
    <form th:action="@{''}" method="post" class="form" id="no-payment-found">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">
                    Penalty for
                    <span class="govuk-heading-xl" id="company-name" th:text="${companyName}"></span>
                </h1>
                <p class="govuk-body-l">
                    The penalty with a reference of
                    <span class="govuk-!-font-weight-bold" th:text="${penaltyNumber}"></span>
                    has been paid. No further action is required.
                </p>
            </div>
        </div>
    </form>
</div>
</html>