<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
    <title>
        View your penalty
    </title>
</head>

<div id="view-penalties-main-content" layout:fragment="content">

    <form th:action="@{''}" method="post" class="form" id="viewPenalties">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 id="page-title " class="govuk-heading-xl">
                    <span id="page-title-heading">Penalty for </span>
                    <span id="company-name" th:text="${companyName}"></span>
                </h1>
                <p class="govuk-heading-m" th:text="'Accounts period made up to ' + ${madeUpDate}"></p>
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Fee</th>
                        <th class="govuk-table__header" scope="col">Date</th>
                        <th class="govuk-table__header govuk-table__header--numeric" scope="col">Fee Amount</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">Penalty</td>
                        <td class="govuk-table__cell" th:text="${dueDate}"></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric" th:text="'£' + ${outstanding}"></td>
                    </tr>

                    </tbody>
                </table>

                <h2 id="page-total" class="govuk-heading-m" th:text="'Total amount due: £' + ${outstanding}"></h2>
                <div class="form-group">
                    <input id="next-button" class="govuk-button piwik-event" data-event-id="View Penalties - Continue" type="submit" role="button" value="Continue"/>
                </div>
            </div>
        </div>
    </form>
</div>
</html>